body {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    width: 90%;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

.page-separator {
    height: 2.5rem;
    width: 100%;
}

.separator {
    height: 1.0rem;
    width: 100%;
}

#nav-container {
    background: #222222;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

#nav-container ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav-container ul li {
    /*background-color: #000000;*/
    display: inline;
    margin: 0;
}

#nav-container ul li a {
    color: #DDD;
    display: inline-block;    
    font-size: 1.0rem;
    text-decoration: none;
    transition: 250ms;
}

#nav-container ul li a:hover {
    color: #555;
    transition: 250ms;
}

section#about {
    font-size: 1.5rem;
}

.center-img {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.fa {
    color: #000;
    font-size: 2rem;
    padding: 1.5rem 0.5rem;
    transition: all 250ms ease;
}

.fa:hover {
    color: #30F;
    transition: all 250ms ease;
}

#my-picture {
    border-radius: 50%;
}

section#contact {
    font-size: 1.2rem;
}

section#portfolio {
    font-size: 1.2rem;
}

footer {
    color: #777;
    font-size: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
    #home-img {
        display: none;
    }
    
    #nav-container {
        display: block;
        height: auto;
        overflow: hidden;
        padding: 1%;
        width: 98%;
    }
    #nav-container ul li {
        display: block;
        width: 100%;
    }
    #nav-container ul li a {
        display: block;
        font-size: 0.75rem;
    }
    section#about, section#portfolio, section#contact {
        font-size: 0.9375rem;
    }
}
